#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 1rem;
  /* border: dashed 2px #ffffff; */

  background-color: black;
}
img {
  height: 400px;
  width: 450px;
  display: flex;
}

#contact h2 {
  color: #ff0000;
  margin-bottom: 20px;
  font-size: 1.5rem;
  background-color: aliceblue;
  padding: 7px 20px;
}

#contact p {
  color: #a8d0ff;
  margin-bottom: 20px;
}

#contact a {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
#contact a:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  #contact {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
  }

  .contact {
    padding: 20px;
  }

  .contact h2 {
    font-size: 1.5rem;
  }

  .contact p {
    font-size: 0.9rem;
  }

  .contact a {
    font-size: 0.9rem;
  }
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
  .contact {
    padding: 30px;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 1rem;
    /* border: dashed 2px #ffffff; */

    background-color: black;
  }

  .contact h2 {
    font-size: 1.8rem;
  }
}
