.skills-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  background-color: #44624a;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-list li {
  background-color: #44624a;
  color: #fff;
  font-weight: bold;
  margin: 15px 10px;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 1.1em;
  justify-content: center;
}
h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.skills-list li:hover {
  background-color: #000000;
  color: aliceblue;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashed-skills {
  border: 2px dashed #ffffff;
  padding: 20px;
  background-color: black;
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  #skills {
    padding: 20px;
  }

  .dashed-skills li {
    border: 2px dashed #ffffff;
  }

  #skills h2 {
    font-size: 1.5rem;
  }

  .skills-list {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
  #skills {
    padding: 30px;
  }

  #skills h2 {
    font-size: 1.8rem;
  }

  .skills-list {
    gap: 8px;
  }
}
