@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #ffffff;

  background-color: #000000;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  padding: 60px 20px;
  scroll-margin-top: 80px;
}

h1,
h2 {
  color: #ffffff;
}
h1 a {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
}

li {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
}

a {
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 10px;
  text-decoration: none;
  border-radius: 1px;
  padding: 10px;
  color: #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .app {
    padding: 10px;
  }

  section {
    padding: 40px 10px;
  }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
  .app {
    padding: 10px;
    max-width: 100%;
  }
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) and (min-width: 769px) {
  .app {
    padding: 15px;
    max-width: 90%;
  }
}
